header {
    width: 100vw;
    height: 30vh;
    /*border : 2px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }
  .icon {
    display: grid;
    
    
    
  }
  .digit {
    width:15px;
    height:15px;
    border-radius: 50%;
    border: 1px solid red;
    text-align:center;
    background-color: red;
    position: absolute;
    
  }
  .logo {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4px;
    
  }